* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Inter", sans-serif;
  background-color: #f5f7fb;
}

/* prettier-ignore */
h1, h2 {
  font-family: "Karla", sans-serif;
}

/* -------------------------- */
.start {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  padding: 10px;
  color: #293264;
}

.start-title {
  margin-bottom: 0px;
  font-size: 1.9rem;
}

.start-description {
  margin-top: 10px;
  font-weight: 400;
  font-size: 1rem;
}

.start-button {
  width: 200px;
  height: 50px;
  border-radius: 15px;
  border: none;
  background-color: #4d5b9e;
  color: #f5f7fb;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  cursor: pointer;
}

.start-button:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}
/* -------------------------- */
.quiz {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 5%;
  margin-left: 5%;
}

.quiz-question {
  font-size: 1.5rem;
  color: #293264;
}

.answers {
  display: flex;
  align-items: center;
  gap: 13px;
}

.quiz-answer {
  padding: 4px 20px;
  border-radius: 8px;
  border: 1px #4d5b9e solid;
  background-color: transparent;
  color: #293264;
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  cursor: pointer;
}

.separator {
  margin-top: 20px;
  border: 0.8px solid #dbdef0;
}
/* -------------------------- */
.score-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.quiz-score {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 20px;
}

.user-score {
  padding-top: 15px;
  color: #293264;
  font-weight: 700;
  font-size: 1rem;
}
/* -------------------------- */
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.quiz-button {
  padding: 15px 22px;
  border: none;
  background-color: #4d5b9e;
  color: #f5f7fb;
  border-radius: 10px;
  width: 150px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 0.8rem;
  cursor: pointer;
}

.quiz-button:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}
